<div class="container">
    <div class="row mb-4">
        <div class="col-sm-12">
            <h1>Google graveyard</h1>
            <p>product killing by Googlr!</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-6">
            <input type="search" class="form-control mb-4" placeholder="Search"
            (keyup)="onSearch(input.value)" #input>
            <a (click)="onHardware()" href="javascript:;" class="btn btn-primary px-3 mx-2">Hardware</a>
            <a (click)="onApp()" href="javascript:;" class="btn btn-warning px-3 mx-2">App</a>
            <a (click)="onService()" href="javascript:;" class="btn btn-success px-3 mx-2">Service</a>
        </div>
        <div class="col-sm-3">
            <select (change)="onSelectHandler(select.value)" #select class="form-control">
                <option  value="All">All</option>
                <option  value="hardware">Hardware</option>
                <option  value="app">App</option>
                <option  value="service">Service</option>
            </select>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-4" *ngFor="let product of products">
            <app-product-card [arr]="product"></app-product-card>
        </div>
    </div>
</div>
